<div class="container mt-5">
    
     <div class="d-flex justify-content-between align-items-center mb-3">
       <h2>Ajout d'une pénalité</h2>
        <a href="/penalites/liste" class="btn btn-success">Retour a la liste</a>
    </div>
    <form th:action="@{/penalites}" th:object="${penalite}" method="post">
        <div class="mb-3">
            <label for="adherant" class="form-label">Adhérant (email)</label>
            <input class="form-control" list="adherantList" id="adherant" name="adherant" th:field="*{adherant}" required>
            <datalist id="adherantList">
                <option th:each="adherant : ${adherants}" 
                        th:value="${adherant.id}" 
                        th:text="${adherant.email}"></option>
            </datalist>
        </div>
        <div class="mb-3">
            <label for="dateDebut" class="form-label">Date début</label>
            <input type="date" th:field="*{dateDebut}" class="form-control" id="dateDebut" required>
        </div>
        <div class="mb-3">
            <label for="nbJours" class="form-label">Nombre de jours</label>
            <input type="number" th:field="*{nombreJours}" class="form-control" id="nbJours" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>