<h2>Login d adherant</h2>
<form th:action="@{/adherant/login}" th:object="${authentification}" method="post">
    <!-- Email -->
    <div>
        <label>Email : </label>
        <input type="email" th:field="*{email}">
        <span th:errors="*{email}" style="color:red"></span>
    </div>

    <!-- Mot de passe -->
    <div>
        <label>Mot de passe : </label>
        <input type="text" th:field="*{mot_de_passe}">
        <span th:errors="*{mot_de_passe}" style="color:red"></span>
    </div>



    <button type="submit">Valider</button>
</form>
<a th:href="@{/adherant/inscription}">Inscription</a>